In [303]:
import pandas as pd
import numpy as np
df=pd.read_csv('messy_HR_data.csv')

In [304]:
df

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,david,NaN,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,eve,NaN,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,grace,NaN,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,jack,50,65000,Female,HR,Manager,2020/02/20,F,NaN,098-765-4321
996,jack,thirty,50000,Male,Finance,Analyst,"April 5, 2018",C,NaN,555-555-5555
997,hannah,thirty,70000,Male,IT,Assistant,01/15/2020,D,user@domain.com,NaN
998,bob,25,65000,Other,Marketing,Manager,"April 5, 2018",D,email@example.com,NaN
999,ivy,thirty,SIXTY THOUSAND,Male,Finance,Manager,2020/02/20,C,user@domain.com,123-456-7890

In [305]:
df['Name']=df['Name'].str.title()

In [306]:
df

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,David,NaN,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,Hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,Eve,NaN,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,Grace,NaN,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,65000,Female,HR,Manager,2020/02/20,F,NaN,098-765-4321
996,Jack,thirty,50000,Male,Finance,Analyst,"April 5, 2018",C,NaN,555-555-5555
997,Hannah,thirty,70000,Male,IT,Assistant,01/15/2020,D,user@domain.com,NaN
998,Bob,25,65000,Other,Marketing,Manager,"April 5, 2018",D,email@example.com,NaN
999,Ivy,thirty,SIXTY THOUSAND,Male,Finance,Manager,2020/02/20,C,user@domain.com,123-456-7890

In [307]:
df['Age']=df['Age'].replace('thirty',30)

In [308]:
df

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,David,NaN,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,Hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,Eve,NaN,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,Grace,NaN,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,65000,Female,HR,Manager,2020/02/20,F,NaN,098-765-4321
996,Jack,30,50000,Male,Finance,Analyst,"April 5, 2018",C,NaN,555-555-5555
997,Hannah,30,70000,Male,IT,Assistant,01/15/2020,D,user@domain.com,NaN
998,Bob,25,65000,Other,Marketing,Manager,"April 5, 2018",D,email@example.com,NaN
999,Ivy,30,SIXTY THOUSAND,Male,Finance,Manager,2020/02/20,C,user@domain.com,123-456-7890

In [309]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [310]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [311]:
df['Age']=df['Age'].astype(int)

In [312]:
df

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,David,35,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,Hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,Eve,35,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,Grace,35,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,65000,Female,HR,Manager,2020/02/20,F,NaN,098-765-4321
996,Jack,30,50000,Male,Finance,Analyst,"April 5, 2018",C,NaN,555-555-5555
997,Hannah,30,70000,Male,IT,Assistant,01/15/2020,D,user@domain.com,NaN
998,Bob,25,65000,Other,Marketing,Manager,"April 5, 2018",D,email@example.com,NaN
999,Ivy,30,SIXTY THOUSAND,Male,Finance,Manager,2020/02/20,C,user@domain.com,123-456-7890

In [313]:
df['Salary']=df['Salary'].replace('SIXTY THOUSAND',60000)

In [314]:
df['Salary']=df['Salary'].str.strip().str.upper()

In [315]:
df['Salary']=df['Salary'].replace(['NaN','NAN'],np.nan)

In [316]:
df['Salary']=pd.to_numeric(df['Salary'])

In [317]:
df['Salary']=df['Salary'].fillna(df['Salary'].mean())

In [318]:
df.rename(columns={'Joining Date':'JDate'}, inplace=True)

In [319]:
df['Salary']=df['Salary'].astype(int)

In [320]:
df['Salary']=df['Salary'].apply(lambda x: "{:,}".format(int(x)))

In [321]:
df['Salary']=df['Salary'].astype(str)+'$'

In [322]:
df['JDate'] = df['JDate'].str.replace('April', '04')

In [323]:
df['JDate'] = pd.to_datetime(df['JDate'], errors='coerce', format='mixed')

In [324]:
df

,Name,Age,Salary,Gender,Department,Position,JDate,Performance Score,Email,Phone Number
0,Grace,25,"50,000$",Male,HR,Manager,2018-04-05,D,email@example.com,NaN
1,David,35,"65,000$",Female,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,Hannah,35,"60,260$",Female,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,Eve,35,"50,000$",Female,IT,Manager,2018-04-05,A,name@company.org,
4,Grace,35,"60,260$",Female,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,"65,000$",Female,HR,Manager,2020-02-20,F,NaN,098-765-4321
996,Jack,30,"50,000$",Male,Finance,Analyst,2018-04-05,C,NaN,555-555-5555
997,Hannah,30,"70,000$",Male,IT,Assistant,2020-01-15,D,user@domain.com,NaN
998,Bob,25,"65,000$",Other,Marketing,Manager,2018-04-05,D,email@example.com,NaN
999,Ivy,30,"60,260$",Male,Finance,Manager,2020-02-20,C,user@domain.com,123-456-7890

In [325]:
df

,Name,Age,Salary,Gender,Department,Position,JDate,Performance Score,Email,Phone Number
0,Grace,25,"50,000$",Male,HR,Manager,2018-04-05,D,email@example.com,NaN
1,David,35,"65,000$",Female,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,Hannah,35,"60,260$",Female,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,Eve,35,"50,000$",Female,IT,Manager,2018-04-05,A,name@company.org,
4,Grace,35,"60,260$",Female,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,"65,000$",Female,HR,Manager,2020-02-20,F,NaN,098-765-4321
996,Jack,30,"50,000$",Male,Finance,Analyst,2018-04-05,C,NaN,555-555-5555
997,Hannah,30,"70,000$",Male,IT,Assistant,2020-01-15,D,user@domain.com,NaN
998,Bob,25,"65,000$",Other,Marketing,Manager,2018-04-05,D,email@example.com,NaN
999,Ivy,30,"60,260$",Male,Finance,Manager,2020-02-20,C,user@domain.com,123-456-7890

In [327]:
df['Gender']=df['Gender'].replace({'Female':'F','Male':'M'})

In [328]:
df

,Name,Age,Salary,Gender,Department,Position,JDate,Performance Score,Email,Phone Number
0,Grace,25,"50,000$",M,HR,Manager,2018-04-05,D,email@example.com,NaN
1,David,35,"65,000$",F,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,Hannah,35,"60,260$",F,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,Eve,35,"50,000$",F,IT,Manager,2018-04-05,A,name@company.org,
4,Grace,35,"60,260$",F,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,"65,000$",F,HR,Manager,2020-02-20,F,NaN,098-765-4321
996,Jack,30,"50,000$",M,Finance,Analyst,2018-04-05,C,NaN,555-555-5555
997,Hannah,30,"70,000$",M,IT,Assistant,2020-01-15,D,user@domain.com,NaN
998,Bob,25,"65,000$",Other,Marketing,Manager,2018-04-05,D,email@example.com,NaN
999,Ivy,30,"60,260$",M,Finance,Manager,2020-02-20,C,user@domain.com,123-456-7890

In [329]:
df['Phone Number']=df['Phone Number'].astype(str)

In [330]:
df['Phone Number']=df['Phone Number'].str.replace(r'\D','',regex=True)

In [331]:
df['Phone Number']=df['Phone Number'].str.replace(r'(\d{3})(\d{3})(\d{3})',r'\1-\2-\3',regex=True)

In [332]:
df

,Name,Age,Salary,Gender,Department,Position,JDate,Performance Score,Email,Phone Number
0,Grace,25,"50,000$",M,HR,Manager,2018-04-05,D,email@example.com,
1,David,35,"65,000$",F,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,Hannah,35,"60,260$",F,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,Eve,35,"50,000$",F,IT,Manager,2018-04-05,A,name@company.org,
4,Grace,35,"60,260$",F,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,"65,000$",F,HR,Manager,2020-02-20,F,NaN,098-765-4321
996,Jack,30,"50,000$",M,Finance,Analyst,2018-04-05,C,NaN,555-555-5555
997,Hannah,30,"70,000$",M,IT,Assistant,2020-01-15,D,user@domain.com,
998,Bob,25,"65,000$",Other,Marketing,Manager,2018-04-05,D,email@example.com,
999,Ivy,30,"60,260$",M,Finance,Manager,2020-02-20,C,user@domain.com,123-456-7890

In [333]:
df['Email']=df['Email'].fillna('No Email Provided')

In [334]:
df

,Name,Age,Salary,Gender,Department,Position,JDate,Performance Score,Email,Phone Number
0,Grace,25,"50,000$",M,HR,Manager,2018-04-05,D,email@example.com,
1,David,35,"65,000$",F,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,Hannah,35,"60,260$",F,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,Eve,35,"50,000$",F,IT,Manager,2018-04-05,A,name@company.org,
4,Grace,35,"60,260$",F,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,"65,000$",F,HR,Manager,2020-02-20,F,No Email Provided,098-765-4321
996,Jack,30,"50,000$",M,Finance,Analyst,2018-04-05,C,No Email Provided,555-555-5555
997,Hannah,30,"70,000$",M,IT,Assistant,2020-01-15,D,user@domain.com,
998,Bob,25,"65,000$",Other,Marketing,Manager,2018-04-05,D,email@example.com,
999,Ivy,30,"60,260$",M,Finance,Manager,2020-02-20,C,user@domain.com,123-456-7890

In [343]:
df.rename(columns={'JDate':'Joining Date'},inplace=True)

In [344]:
df

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,"50,000$",M,HR,Manager,2018-04-05,D,email@example.com,
1,David,35,"65,000$",F,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,Hannah,35,"60,260$",F,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,Eve,35,"50,000$",F,IT,Manager,2018-04-05,A,name@company.org,
4,Grace,35,"60,260$",F,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,Jack,50,"65,000$",F,HR,Manager,2020-02-20,F,No Email Provided,098-765-4321
996,Jack,30,"50,000$",M,Finance,Analyst,2018-04-05,C,No Email Provided,555-555-5555
997,Hannah,30,"70,000$",M,IT,Assistant,2020-01-15,D,user@domain.com,
998,Bob,25,"65,000$",Other,Marketing,Manager,2018-04-05,D,email@example.com,
999,Ivy,30,"60,260$",M,Finance,Manager,2020-02-20,C,user@domain.com,123-456-7890

In [347]:
df.to_csv('Cleaned HR Data.csv')