In [317]:
import pandas as pd
import numpy as np
df=pd.read_csv('Messy Company Data.csv')

In [318]:
df

,Employee_ID,Name,Department,Join_Date,Salary,Bonus,Remote_Work,Phone,Email,Performance_Score,Last_Promotion_Date
0,9,Brendan Fernandez,Operations,02/30/2022,$47846,4500,TRUE,invalid_number,jamesgarcia@payne.info,3,NaN
1,2,Matthew Black,IT,22/07/2007,"45,862",five thousand,true,invalid_number,brownpaul@gmail.com,2.9,NaN
2,3,Maria Maldonado,HR,02/30/2022,45797,5000,FALSE,NaN,scunningham@hotmail.com,3.8,NaN
3,137,Craig Martin,Operations,30/09/1990,"48,909",7000,false,NaN,mckayrita@jimenez-nichols.com,5,NaN
4,5,Joseph Alexander,HR,2020/08/03,63516 USD,5000,Yes,NaN,tthomas@hernandez.com,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
295,94,Brandon Reed,Finance,2019-03-14,46907,7000,FALSE,NaN,denisejones@robinson.com,NaN,2013-06-30
296,19,Angela Buckley,Sales,1991/11/04,$70598,NaN,true,001-853-038-2873x261,noemail,4.2,22-09-1996
297,298,Michael Farrell,Finance,2017-10-20,"55,079",8000,1,NaN,michelle62@gmail.com,4.5,2001-05-23
298,94,Tanya Young,HR,NaN,69835,7000,TRUE,097-568-2208,zroberts@shepard.com,2.9,18-07-2003
299,300,Ms. Nicole Marshall,HR,21/01/1995,74274 USD,5000,No,001-011-176-9512x349,davidreynolds@jackson.com,4.5,NaN

In [319]:
df=df.sort_values(by='Employee_ID')

In [320]:
df=df.reset_index()

In [321]:
df

,index,Employee_ID,Name,Department,Join_Date,Salary,Bonus,Remote_Work,Phone,Email,Performance_Score,Last_Promotion_Date
0,1,2,Matthew Black,IT,22/07/2007,"45,862",five thousand,true,invalid_number,brownpaul@gmail.com,2.9,NaN
1,2,3,Maria Maldonado,HR,02/30/2022,45797,5000,FALSE,NaN,scunningham@hotmail.com,3.8,NaN
2,4,5,Joseph Alexander,HR,2020/08/03,63516 USD,5000,Yes,NaN,tthomas@hernandez.com,5,NaN
3,270,6,Robin Smith,IT,2011-06-30,"$46,941",five thousand,Yes,invalid_number,unewton@hotmail.com,NaN,NaN
4,6,7,Billy Koch,Sales,02/30/2022,73184,5000,true,03394343846,kimsavage@hill-peck.org,3.8,2025-04-22
...,...,...,...,...,...,...,...,...,...,...,...,...
295,292,293,Steven Hughes,Marketing,1992-09-12,"41,488",7000,Yes,+1-344-960-2105x746,ryan95@gmail.com,4.2,14-07-1980
296,293,294,Steven Lopez,Finance,1977-03-17,$66882,five thousand,true,NaN,ymiller@hotmail.com,NaN,2010-05-27
297,294,295,Michele Ross,Finance,31/12/2024,"58,192",7000,Yes,NaN,bauerdonna@madden-hill.com,Four,2023-06-24
298,297,298,Michael Farrell,Finance,2017-10-20,"55,079",8000,1,NaN,michelle62@gmail.com,4.5,2001-05-23
299,299,300,Ms. Nicole Marshall,HR,21/01/1995,74274 USD,5000,No,001-011-176-9512x349,davidreynolds@jackson.com,4.5,NaN

In [322]:
df=df.drop(columns='index')

In [323]:
df=df.drop_duplicates()

In [324]:
df.columns=df.columns.str.strip()

In [325]:
df=df.dropna(subset='Name')

In [326]:
df['Join_Date']

0      22/07/2007
1      02/30/2022
2      2020/08/03
3      2011-06-30
4      02/30/2022
          ...
295    1992-09-12
296    1977-03-17
297    31/12/2024
298    2017-10-20
299    21/01/1995
Name: Join_Date, Length: 288, dtype: object

In [327]:
df['Join_Date'] = pd.to_datetime(df['Join_Date'], format='mixed', errors='coerce')

In [328]:
df['Join_Date'].dtype

dtype('<M8[ns]')

In [329]:

df['Join_Date']=df['Join_Date'].dt.date

In [330]:
df['Join_Date']=df['Join_Date'].fillna('Not Provided')

In [331]:
df['Salary']=df['Salary'].astype(str)

In [332]:
df['Salary']=df['Salary'].str.strip()

In [333]:
df['Salary']=df['Salary'].str.replace(r'[^0-9]','',regex=True)

In [334]:
df['Salary']=df['Salary'].fillna('None')

In [335]:
df['Salary']=pd.to_numeric(df['Salary'])

In [336]:
df['Salary']=df['Salary'].astype(int)

In [337]:
df['Salary']=df['Salary'].apply(lambda x: '{:,}'.format(int(x)))

In [338]:
df['Bonus']=df['Bonus'].replace('five thousand',5000)

In [339]:
df['Remote_Work']=df['Remote_Work'].replace({'true':'Yes','TRUE':'Yes','false':'No','FALSE':'No','1':'Yes','0':'No'})

In [340]:
df['Phone']=df['Phone'].replace('invalid_number',np.nan)

In [341]:
df['Phone']=df['Phone'].replace(np.nan,'1')

In [342]:
df['Phone']=df['Phone'].replace(r'[^0-9]','',regex=True)

In [343]:
df['Phone']=df['Phone'].str[-11:]

In [344]:
df['Phone']=df['Phone'].replace('1',np.nan)

In [345]:
df['Phone']=df['Phone'].fillna('Not Provided')

In [346]:
df['Performance_Score']=df['Performance_Score'].replace({'Four':'4','four':'4'})

In [347]:
df['Performance_Score']=df['Performance_Score'].astype(float)

In [348]:
df['Performance_Score']=df['Performance_Score'].fillna(df['Performance_Score'].mean())

In [349]:
df['Performance_Score']=df['Performance_Score'].round(2)

In [350]:
df['Last_Promotion_Date']=df['Last_Promotion_Date'].fillna('Not Provided')

In [351]:
df['Last_Promotion_Date']=df['Last_Promotion_Date'].astype(str)

In [352]:
df['Last_Promotion_Date']=pd.to_datetime(df['Last_Promotion_Date'],format='mixed',errors='coerce')

In [353]:
df['Last_Promotion_Date']=df['Last_Promotion_Date'].dt.date

In [354]:
df['Last_Promotion_Date']=df['Last_Promotion_Date'].fillna('Not Provided')

In [355]:
df

,Employee_ID,Name,Department,Join_Date,Salary,Bonus,Remote_Work,Phone,Email,Performance_Score,Last_Promotion_Date
0,2,Matthew Black,IT,2007-07-22,"45,862",5000,Yes,Not Provided,brownpaul@gmail.com,2.90,Not Provided
1,3,Maria Maldonado,HR,Not Provided,"45,797",5000,No,Not Provided,scunningham@hotmail.com,3.80,Not Provided
2,5,Joseph Alexander,HR,2020-08-03,"63,516",5000,Yes,Not Provided,tthomas@hernandez.com,5.00,Not Provided
3,6,Robin Smith,IT,2011-06-30,"46,941",5000,Yes,Not Provided,unewton@hotmail.com,3.89,Not Provided
4,7,Billy Koch,Sales,Not Provided,"73,184",5000,Yes,03394343846,kimsavage@hill-peck.org,3.80,2025-04-22
...,...,...,...,...,...,...,...,...,...,...,...
295,293,Steven Hughes,Marketing,1992-09-12,"41,488",7000,Yes,49602105746,ryan95@gmail.com,4.20,1980-07-14
296,294,Steven Lopez,Finance,1977-03-17,"66,882",5000,Yes,Not Provided,ymiller@hotmail.com,3.89,2010-05-27
297,295,Michele Ross,Finance,2024-12-31,"58,192",7000,Yes,Not Provided,bauerdonna@madden-hill.com,4.00,2023-06-24
298,298,Michael Farrell,Finance,2017-10-20,"55,079",8000,Yes,Not Provided,michelle62@gmail.com,4.50,2001-05-23
299,300,Ms. Nicole Marshall,HR,1995-01-21,"74,274",5000,No,11769512349,davidreynolds@jackson.com,4.50,Not Provided

In [357]:
df.to_csv('Cleaned Company Dataset.csv')